* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(255, 255, 255);
  }
  
  .header {
    background-color: #c7e1ff;
    padding: 20px;
    text-align: center;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #e5e1d2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #cbc7c7;
    color: rgb(49, 38, 21);
  }
  
  .column {
    float: left;
    width: 50.00%;
    padding: 30px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    border: 3px solid #ffe550;
    background-color: #ffe550;
  }