* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: aliceblue;
  }
  
  .header {
    background-color: #e5e1d2;
    padding: 20px;
    text-align: center;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #e5e1d2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #cbc7c7;
    color: rgb(49, 38, 21);
  }
  
  .column {
    float: left;
    width: 25.00%;
    padding: 20px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }